In [6]:
import pandas as pd

movies = pd.read_csv('Datos/movies_depurado.csv')

#Generos
genres_x_movie = pd.read_csv('Datos/generos_x_movie.csv')
genres_master = pd.read_csv('Datos/generos_x_movie.csv')


#productoras
prods_x_movie = pd.read_csv('Datos/productoras_x_movie.csv')
prods_master = pd.read_csv('Datos/mestro_productoras.csv')

#paises
coutries_x_movie = pd.read_csv('Datos/paises_x_movie.csv')
pcts_master = pd.read_csv('Datos/maestro_paises.csv')


#idiomas
langs_x_movie = pd.read_csv('Datos/idiomas_x_movie.csv')
langs_master = pd.read_csv('Datos/maestro_idiomas.csv')

In [24]:
#Transformacion peliculas_idioma
nro_peliculas_x_idioma = movies[['movie_id','original_language']].groupby('original_language').count()
nro_peliculas_x_idioma.rename(columns={"movie_id": "cantidad"}, inplace=True)
nro_peliculas_x_idioma.sort_values(by=['cantidad'], ascending=False, inplace=True)
nro_peliculas_x_idioma.to_csv('Datos/nro_peliculas_x_idioma.csv',',',index=False)

In [28]:
#Funcion peliculas_idioma
def peliculas_idioma(idioma:str):
    '''Recibe la abreviatura del idioma y retorna la cantidad de peliculas producidas en ese idioma'''
    return nro_peliculas_x_idioma[nro_peliculas_x_idioma.index == idioma]

#prueba
peliculas_idioma('fr')

                   cantidad
original_language
fr                     2415

In [79]:
# Transfomacion peliculas_duracion
drcion_anio_x_peli = movies[['title','runtime','release_year']]
drcion_anio_x_peli.to_csv('Datos/drcion_anio_x_peli.csv',',',index=False)

In [35]:
# Funcion peliculas_duracion
def peliculas_duracion(pelicula:str):
    '''Recibe el nombre de una pelicula y devuelve la duracion y el año'''
    return drcion_anio_x_peli[drcion_anio_x_peli['title'] == pelicula]

#prueba
peliculas_duracion('Wife')

      title  runtime  release_year
44894  Wife      NaN          1953

In [54]:
# Transformacion franquicia
nro_pels_x_franq = movies[['movie_id','belongs_to_collection']].groupby('belongs_to_collection').count()
nro_pels_x_franq.rename(columns={"movie_id": "nro_peliculas"}, inplace=True)

totrev_x_franq = movies[['revenue','belongs_to_collection']].groupby('belongs_to_collection').sum()
totrev_x_franq.rename(columns={"revenue": "total_revenue"}, inplace=True)
avgrev_x_franq = movies[['revenue','belongs_to_collection']].groupby('belongs_to_collection').mean()
avgrev_x_franq.rename(columns={"revenue": "average_revenue"}, inplace=True)

nro_pels_totrev_x_franq = nro_pels_x_franq.merge(totrev_x_franq,how = 'left', on = 'belongs_to_collection')
nro_pels_avgrev_totrev_x_franq = nro_pels_totrev_x_franq.merge(avgrev_x_franq,how = 'left', on = 'belongs_to_collection')
nro_pels_avgrev_totrev_x_franq.sort_values(by=['nro_peliculas'], ascending=False, inplace=True)
nro_pels_avgrev_totrev_x_franq.to_csv('Datos/nro_pels_avgrev_totrev_x_franq.csv',',',index=False)

,nro_peliculas,total_revenue,average_revenue
belongs_to_collection,,,
The Bowery Boys,29,0.000000e+00,0.000000e+00
Totò Collection,27,0.000000e+00,0.000000e+00
James Bond Collection,26,7.106970e+09,2.733450e+08
Zatôichi: The Blind Swordsman,26,0.000000e+00,0.000000e+00
The Carry On Collection,25,0.000000e+00,0.000000e+00
...,...,...,...
Göta kanal collection,1,0.000000e+00,0.000000e+00
Hailey Dean Mystery Collection,1,0.000000e+00,0.000000e+00
The Adventures of Mickey Matson Collection,1,0.000000e+00,0.000000e+00
The 1997 Trilogy,1,0.000000e+00,0.000000e+00
Flesh Gordon Collection,1,0.000000e+00,0.000000e+00

In [57]:
# Funcion franquicia
def franquicia(franquicia:str):
    '''Recibe el nombre de la franquicia y retorna el numero total de peliculas, la ganacia total y la ganancia promedio'''
    return nro_pels_avgrev_totrev_x_franq[nro_pels_avgrev_totrev_x_franq.index==franquicia]

#prueba
franquicia('James Bond Collection')

                       nro_peliculas  total_revenue  average_revenue
belongs_to_collection
James Bond Collection             26   7.106970e+09     2.733450e+08

In [80]:
# Transformacion peliculas_pais
movies_x_country = coutries_x_movie[['pais','movie_id']].groupby('pais').count()
movies_x_country.rename(columns={"movie_id": "cantidad"}, inplace=True)
movies_x_country.to_csv('Datos/movies_x_country.csv',',',index=False)

In [81]:
# Funcion peliculas_pais
def peliculas_pais(pais:str):
    '''Recibe el nombre del pais y retorna la cantidad de peliculas producidas en dicho pais'''
    return movies_x_country[movies_x_country.index==pais]

# prueba
peliculas_pais('Colombia')

          cantidad
pais
Colombia        34

In [73]:
# Transformacion productoras_exitosas
revenue_x_productora = prods_x_movie[['productora','revenue']].groupby('productora').sum()
pelis_x_productora = prods_x_movie[['productora','movie_id']].groupby('productora').count()
pelis_x_productora.rename(columns={"movie_id": "nro_peliculas"}, inplace=True)
pelis_rev_x_productora = revenue_x_productora.merge(pelis_x_productora,on = 'productora', how = 'left')
pelis_rev_x_productora.to_csv('Datos/pelis_rev_x_productora.csv',',',index=False)

In [77]:
pelis_rev_x_productora.sort_values(by=['nro_peliculas'], ascending=False, inplace=True)
pelis_rev_x_productora

,revenue,nro_peliculas
productora,,
Warner Bros.,6.352519e+10,1248
Metro-Goldwyn-Mayer (MGM),1.237679e+10,1073
Paramount Pictures,4.873061e+10,996
Twentieth Century Fox Film Corporation,4.768775e+10,834
Universal Pictures,5.525919e+10,827
...,...,...
Produzioni Cinematografiche Massaccesi (PCM) International,0.000000e+00,1
Tribal Alliance,0.000000e+00,1
Trigon Films,0.000000e+00,1
Trillion Entertainment,0.000000e+00,1
프로덕션M,0.000000e+00,1

In [78]:
# Funcion productoras_exitosas
def productoras_exitosas(productora:str):
    '''Recibe el nombre de una productora y retorna el revenue total de la productora y la cantidad de peliculas que realizo'''
    return pelis_rev_x_productora[pelis_rev_x_productora.index == productora]

# Prueba
productoras_exitosas('Warner Bros.')

                   revenue  nro_peliculas
productora
Warner Bros.  6.352519e+10           1248

In [ ]:
# Funcion get_director
def get_director(nombre_director):
    '''Recibe el nombre de un director y retorna el retorno porcentual de todas sus peliculas. Ademas retorna el nombre de cada pelicula, 
    con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma en formato de lista'''
    return 0

#prueba